<div class="topnav">
    <div class="container">
        <a id="logo" href="../home">SNUH<img id="logoImg" src="../images/u27.png" width="18px" height="23px"></a>
        <a href="../home/login">Login!</a>
        <a href="../home/discussion">Discussion</a>
        <a href="../home/faq">FAQ</a>
        <a href="../home/downloads">Downloads</a>
        <a href="../home/news">News</a>
        <a href="../home/about">About</a>
    </div>
</div>